
.navbar.default-layout{

  background: white;

}

.navbar.default-layout .navbar-brand-wrapper {
  background: linear-gradient(0deg, rgb(56, 176, 245) 0%, rgb(49, 221, 255) 100%);
  color: white;


}

.letra{
  color: black;

}

.letrafomato{
  margin-right: 2%;
  font-size: 20px;
}


