<nav class="sidebar-offcanvas sidebar">
  <ul class="nav text-justify">


    <li class="nav-item">
      <a class="nav-link"  routerLink="/dahsboard">
        <i class="menu-icon fa fa-tachometer-alt"></i>&nbsp;
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="">
        <i class="pi pi-map"></i>&nbsp;
        <span class="menu-title">Programaciòn</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="" >
        <i class="pi pi-list"></i>&nbsp;
        <span class="menu-title">Gestion de operaciones</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="" >
        <i class="pi pi-sliders-h"></i>&nbsp;
        <span class="menu-title">Perfiles</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link cursor"  routerLink="">
        <i class="pi pi-tag"></i>&nbsp;
        <span class="menu-title">Roles</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor"  routerLink="/usuarios">
        <i class="pi pi-user"></i>&nbsp;
        <span class="menu-title">Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor"  routerLink="">
        <i class="pi pi-file"></i>&nbsp;
        <span class="menu-title">Reportes</span>
      </a>
    </li>

  </ul>
</nav>
